[submodule "inc/pybind11"]
	path = inc/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "inc/nlohmann_json"]
	path = inc/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "inc/restbed"]
	path = inc/restbed
	url = https://github.com/corvusoft/restbed.git
